global
    log stdout format raw local0
    maxconn 512
    user haproxy
    group haproxy
    # A local, read-only runtime endpoint for the container health check.
    stats socket /var/run/haproxy.sock mode 600 level user

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1h
    timeout server 1h

frontend public_http
    bind :80
    default_backend home_http

backend home_http
    option tcp-check
    server home 10.66.0.2:80 check inter 5s fall 3 rise 2

frontend public_https
    bind :443
    default_backend home_https

backend home_https
    option tcp-check
    server home 10.66.0.2:443 check inter 5s fall 3 rise 2
